.game-end {
  // .game-end__container
  &__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    @include adaptiveValue('gap', 100, 24);
    padding-top: rem(40);
    padding-bottom: rem(40);
    @media (max-width: $pc) {
      flex-direction: column-reverse;
    }

  }
  // .game-end__image
  &__image {
    flex: 0 1 50%;
    max-width: 100%;
  }
  // .game-end__body
  &__body {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $pc) {
      align-items: center;
    }
    @media (max-width:$mobile){
      width: 100%; 
    }
    h1 {
      display: flex;
      flex-direction: column;
      span {
        font-weight: 600;
        @include adaptiveValue('font-size', 56, 32);
        line-height: 116%;
      }
      &:not(:last-child) {
        margin-bottom: rem(64);
      }
      @media (max-width: $pc) {
        min-height: 100%;
        text-align: center;
      }
    }
  }


}
